<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whx.mapper.RolePermissionMapper">

    <!--根据角色id删除角色权限关系-->
    <delete id="deleteByRoleId">
        delete
        from role_permission
        where rid = #{id};
    </delete>

    <!--根据角色id查询权限集合-->
    <select id="queryByRoleId" resultType="java.lang.String">
        select name
        from permission
        where id in (select id from role_permission where rid = #{id});
    </select>
</mapper>
