<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whx.mapper.UserRoleMapper">

    <!--通过用户id删除用户角色关系-->
    <delete id="deleteByUserId">
        delete from user_role where uid=#{id};
    </delete>
</mapper>
